body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  padding-left: 5%;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  margin-bottom: 0%;
}
#rocketColor {
  width: 190px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(67, 59, 59);
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
select:focus {
  outline: none;
}

.rocket1 {
  position: absolute;
  bottom: 210px;
  left: 70px;
  width: 80px;
  height: 80px;
  z-index: 2;
  /* background-color: grey; */
  border-radius: 50px;
  /* transform: rotate(40deg); */
  /* animation: start 0.2s ease infinite;  */
  /* animation: start 20s ease;
  animation-fill-mode: forwards; */
}
img {
  width: 50px;
  height: 100px;
}
.earth {
  position: absolute;
  bottom: -20%;
  left: -10%;
  width: 400px;
  height: 400px;
}
.rocket2 {
  position: absolute;
  bottom: 190px;
  left: 140px;
  width: 80px;
  height: 80px;
  z-index: 2;
  border-radius: 50px;
}
.first {
  filter: drop-shadow(3px 10px 5px white);
}
.accel {
  filter: drop-shadow(3px 25px 5px rgb(103, 53, 222));
}
.decel {
  filter: drop-shadow(3px 15px 5px rgb(211, 15, 74));
}

.white {
  color: white;
  position: relative;
}
.hidden {
  display: none;
}
.notHidenWhite {
  position: absolute;
  left: 45%;
  top: 40%;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  animation: fadeIn 3s;
}

.moonContent {
  position: absolute;
  right: 0%;
  top: -40%;
  width: 50vw;
  height: 50vw;
  background: rgb(242, 239, 209);
  background: linear-gradient(
    0deg,
    rgba(242, 239, 209, 1) 35%,
    rgba(235, 220, 152, 1) 100%
  );
  margin-right: -30vw;
  border-radius: 50%;
  box-shadow: 0 0 80px #f8a50e;
  transform: rotate(-40deg);
}

button {
  background-color: tomato;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 35px;
  border: none;
}
button:hover {
  box-shadow: 0 0 30px #f77b55;
}

.controlPanel {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 15%;
  right: 10%;
  background: rgba(0, 0, 0, 0.6);
  border: 5px solid tomato;
  border-radius: 30px;
}

.display {
  display: flex;
  flex-direction: column;
  background: rgba(67, 59, 59, 0.8);
  border-radius: 30px;
  color: #fff;
  padding-left: 1em;
}

.tittleR {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0;
  min-width: 200px;
  text-align: center;
  color: gold;
}
.accelerate,
.decelerate {
  display: flex;
  align-self: center;
}

.control {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(131, 118, 103);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 71%,
    #e52d27 100%
  );
  margin: 2em;
  text-align: center;
  font-weight: bold;
  padding: 0;
  color: rgb(247, 218, 101);
}

.control:hover {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 31%,
    #e52d27 100%
  );
  box-shadow: 0 0 20px #f9dca7;
}
.new {
  position: absolute;
  bottom: 5%;
  right: 25%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(52, 184, 142);
  border: 1px solid rgb(25, 92, 71);
  border-radius: 50px;
}

/* animation classes to add to the rockets */

.start {
  animation-name: move;
  animation-duration: 20s;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

.move {
  animation: start 20s ease;
  animation-fill-mode: forwards;
}

.engine {
  animation: engine 0.2s ease infinite;
}

/* animacions
animació inicial posada en marxa */
@keyframes engine {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

/* animació per desplaçar el cohet horitzontalment i girar-lo */
@keyframes start {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(650px) rotate(50deg);
  }
}
/* Animació per elevar el div on està el cohet */
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-650px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
